
.idea/.name
*.cmake
*.iml
*.xml
cmake-build-debug/CMakeCache.txt
*.bin
*.exe
*.log
*.make
*.rsp
*.c
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-environment.txt
*.check_cache
*.marks
*.txt
cmake-build-debug/untitled1.cbp
cmake-build-debug/Makefile
